html, body {
  background-color:whitesmoke;
  color: #77bfa3;
 
} 
.button{
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 0.4em 1.5em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.709);
  border: solid 2px #e3bf00;
  border-radius: 3px;
  transition: .4s;
  font-weight: bold;
  font-size: small;
  width: 40%;
  margin-top: 20px;
  letter-spacing: 0.08cm;
}
.button:hover {
  background:  #e3bf00;
  color: white;
}

.content {
  display: block;
  text-align: center;
}
.title{
  margin-bottom: 5vh;
  text-shadow: 2px 2px 2px gray;
  font-family: 'Fugaz One', cursive;
  font-size: 60px;
  line-height: 1.0em;
  margin-top: 20vh;    
} 

@media screen and (min-width:481px) { 
  
  .title {
    font-size: 90px;    
  }

  .button{
    font-weight: bold;
    padding: 0.6em 1.5em;
    font-size: medium;
    margin-top: 35px;
  }

}


@media screen and (min-width:960px) {
  .title {
    font-size: 120px; 
  }
  .button {
   display: inline-block;
   width: 20%;
   padding: 15px 0 ;
   font-weight: bold;
   font-size: large;
  }
  .resister-btn {
    margin-left: 2.5em;
  }
}

